body {
    
        background-image: linear-gradient(to right, rgb(208, 255, 0) , rgb(255, 0, 85));
        

      }  

      div {
          text-align: center;
      }
      .login_div1 , .login_div2
      {
          background:rgb(255, 255, 255);
          padding: 10px;
          padding-top: 9px;
          float: none;
          border-radius: 15px;
      }
      
      h3 {
          color:darkslateblue;
      }

      
label {
    text-decoration: underline;
    padding: 10px;
}


#output {
    background: whitesmoke;
    border-radius: 10px;
    border-top: 10px solid #AA4465;
    padding: 10px;
    float: none;
    text-align: left;

}

#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
  
      

      

  

